#canvasBlackboard {
    /* background-color:yellow; */
    width: 0px;
    height: 0px;
    position: absolute;
    margin-top: 5%;
}

.grosor-linea{
    width: 100%;
}

.divSearch, .elementsPizarra{
    margin:0px auto;
}